<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.vkonnect.ozone.controller" />
	
	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ozone_db" />
		<property name="username" value="root" />
		<!-- 
		<property name="password" value="root" />
		-->
		<property name="password" value="r00t" />
		<!--  <property name="username" value="stud-mgt" />
		<property name="password" value="Stud3nt" />-->
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.vkonnect.ozone.model.User</value>
				<value>com.vkonnect.ozone.model.MenuHeader</value>
				<value>com.vkonnect.ozone.model.Menu</value>
				<value>com.vkonnect.ozone.model.HintQuestion</value>
				<value>com.vkonnect.ozone.model.University</value>
				<value>com.vkonnect.ozone.model.KeyPerson</value>
				<value>com.vkonnect.ozone.model.Address</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	
	<bean id="userPool" class="com.vkonnect.ozone.dao.UserPoolImpl"></bean>
	<bean id="userServices" class="com.vkonnect.ozone.services.UserServiceImpl"></bean>
	<bean id="menuPool" class="com.vkonnect.ozone.dao.MenuPoolImpl"></bean>
	<bean id="menuServices" class="com.vkonnect.ozone.services.MenuServiceImpl"></bean>
	<bean id="menuHeaderPool" class="com.vkonnect.ozone.dao.MenuHeaderPoolImpl"></bean>
	<bean id="menuHeaderServices" class="com.vkonnect.ozone.services.MenuHeaderServiceImpl"></bean>
	<bean id="hintQuestionPool" class="com.vkonnect.ozone.dao.HintQuestionPoolImpl"></bean>
	<bean id="hintQuestionServices" class="com.vkonnect.ozone.services.HintQuestionServiceImpl"></bean>
	<bean id="universityServices" class="com.vkonnect.ozone.services.UniversityServiceImpl"></bean>
	<bean id="universityPool" class="com.vkonnect.ozone.dao.UniversityPoolImpl"></bean>
	<!--  <bean id="keyPersonServices" class="com.vkonnect.ozone.services.keyPersonServiceImpl"></bean>
	<bean id="keyPersonPool" class="com.vkonnect.ozone.dao.KeyPersonPoolImpl"></bean>-->
</beans>